<form id=formId (ngSubmit)="sendMail(mailForm)" #mailForm="ngForm" class="container">
  <h1 class="heading">
    <img class="icon-image" src="../assets/favicon.svg" alt="">
    Mailer
  </h1>
  <label class="email-label" for="your_mail">Enter your email : </label>
  <input class="email-input" type="email" name="your_mail" id="" required [(ngModel)]="fromMailId">
  <label class="recipient-label" for="send_mail">Recipient emails : </label>
  <textarea class="recipient-input" name="to-mails" id="" cols="30" rows="8" [(ngModel)]="toMailString"
    required></textarea>
  <label class="subject-label" for="subject">Subject :</label>
  <input class="subject-input" type="text" name="subject">
  <label class="content-label" for="subject">Content :</label>
  <textarea class="content-input" name="subject" id="" cols="30" rows="8"></textarea>
  <button class="submit-btn" type="submit">Send</button>
  <div class="overlay"></div>
</form>